# Edit this file and place at /etc/default/drups (or /usr/local/etc/drups on BSD)

# Names of nodes to start
#   most people will only start one node:
DRUPSD_NODES="worker1"
#   but you can also start multiple and configure settings
#   for each in DRUPSD_OPTS
#DRUPSD_NODES="worker1 worker2 worker3"
#   alternatively, you can specify the number of nodes to start:
#DRUPSD_NODES=10

# Absolute or relative path to the 'drups' command:
DRUPS_BIN="/usr/local/bin/drups"
#DRUPS_BIN="/virtualenvs/def/bin/drups"

# Where to chdir at start.
DRUPSD_CHDIR="/opt/Myproject/"

# Extra command-line arguments to the worker
DRUPSD_OPTS="--time-limit=300 --concurrency=8"
# Configure node-specific settings by appending node name to arguments:
#DRUPSD_OPTS="--time-limit=300 -c 8 -c:worker2 4 -c:worker3 2 -Ofair:worker1"

# Set logging level to DEBUG
#DRUPSD_LOG_LEVEL="DEBUG"

# %n will be replaced with the first part of the nodename.
DRUPSD_LOG_FILE="/var/log/drups/%n%I.log"
DRUPSD_PID_FILE="/var/run/drups/%n.pid"

# Workers should run as an unprivileged user.
#   You need to create this user manually (or you can choose
#   a user/group combination that already exists (e.g., nobody).
DRUPSD_USER="drups"
DRUPSD_GROUP="drups"

# If enabled pid and log directories will be created if missing,
# and owned by the userid/group configured.
DRUPS_CREATE_DIRS=1
